<ion-view title="Page" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="page5-form2" class="list">
      <label class="item item-input" id="page5-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <div class="spacer" style="height: 50px;"></div>
      <ion-item class="item-icon-left item-icon-right positive" id="page5-list-item1">
        <i class="icon ion-location"></i>ATM1
        <span class="item-note">Map</span>
        <i class="icon ion-chevron-right"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right positive" id="page5-list-item2">
        <i class="icon ion-location"></i>ATM1
        <span class="item-note">Map</span>
        <i class="icon ion-chevron-right"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </form>
  </ion-content>
</ion-view>